DATABASE_URL="postgresql://postgres.oubldltcdskrpgztelbs:%40Muslim.888%3A@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"
DIRECT_URL="postgresql://postgres.oubldltcdskrpgztelbs:%40Muslim.888%3A@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"

JWT_SECRET="0274897af0f3b5e889329a756dc9ef195d30bc67a80fdcd304459e9adf658ca6"
NEXTAUTH_URL="https://labratory-website.vercel.app"
UPLOAD_DIR=./public/uploads
NEXT_PUBLIC_SITE_URL="https://labratory-website.vercel.app/"
NEXT_PUBLIC_DEFAULT_LOCALE="zh-CN"
ENCRYPTION_KEY=default-encryption-key-for-build-32chars!
NEXT_PUBLIC_APP_URL=http://localhost:3000











